
@media(max-width:1919px){

    .addons-feature-single .h-wrapper img {max-width: 56px;border-radius: 10px;}
    .connect-wrapper .link-item {width: 32px;height: 32px;line-height: 32px;right: 0.5rem;top: 0.5rem;}
    /*.connect-wrapper .addons-feature-single h3,.connect-wrapper .addons-feature-single .fs-22 {font-size: 20px !important;}*/
    .connect-wrapper .link-item .lcs-icon {font-size: 16px !important;}
    .connect-wrapper .fs-40 {font-size: 36px !important;}
    .connect-wrapper .fs-26 {font-size: 24px !important;}
    .connect-wrapper .addons-feature-single ul.px-5{padding: 0 1.5rem !important;}


    /*******************
    CONSOLE PAGE
    **********************/
    .cc-main-button-group button{min-width: 42px !important;}
    .site-main-tabs .navbar-brand, .site-header {padding-top:0px !important;padding-bottom: 0 !important;font-size: 22px;}
    .console-head-row .site-main-tabs .nav-link .fa {font-size: 36px;}
    .transc-section {height: calc(100vh - 275px);}
    /*.chat-window-wrap {height: calc(100vh - 385px);}*/
    .chat-first-sub-wrap {height: calc(100vh - 494px);}
    .console-right-info {height: 236px;}
    .chat-info-form .col-form-label {padding-top: 2px;padding-bottom: 2px;}
    .chat-info-form .form-control {padding: 2px 5px;}
    .chat-window {padding-left: 5px !important;padding-right: 5px !important;}
    .chat-info-form .bootstrap-select > .dropdown-toggle {padding: 0px 15px;}
    .chat-info-form .bootstrap-select.btn-group .dropdown-toggle .filter-option {font-size: 14px;}
    nav.side-navbar .waiting-chat, .header .waiting-chat {font-size: 18px;}
    #inhousemsgg .fa-bell {background-size: 40px auto;}
    nav.navbar #notifications .badge, nav.navbar #inhousemsgg .badge {width: 20px;height: 20px;line-height: 20px;right: 3px;}
    #users .fa.fa-angle-down {top: 4px;}
    #helps .custom-icon-info {background-size: 30px 30px;top: -3px;min-width: 32px;min-height: 35px;}
    .chat-info-form:first-child .form-group { margin-bottom: 5px !important;}
    .chat-info-form:last-child .form-group { margin-bottom: 7.5px !important;}
    .console-right-info .col {padding-top: 7px !important;}
    .notice-alert {font-size: 16px;}

    /*******************
    VISITOR PAGE
    **********************/
    .chart-title {font-size: 18px;}
    .chart-div {min-height: 200px;max-height: 200px;}
    .table-visitor-wrap {max-height: calc(100vh - 555px);}    
    .knowledgebase-wrap .collaboration-right{padding-left: 0;}
    .widget-report-wrapper {padding-right: 15px !important;}
    .widget-report-single:nth-child(2n + 1) {padding-right: 15px !important;}
    .widget-report-single { padding: 15px 0 30px 15px !important;}
    .wrsi-icon img {width: 56px;height: 56px;}
    .widget-report-single:nth-child(2n) {padding-left: 15px !important;}
}
@media(max-width:1600px){
    .login-wrap-left {padding : 0 3rem !important;}
    .login-wrap-left .pr-5.mr-5 {margin: 0 auto 3rem !important;padding-right: 0 !important;max-width: 510px !important;}
    .login-wrap-right {padding: 0 3rem !important;}
    .login-wrap-right .pl-5.ml-5 {padding-left: 0 !important;margin: 0 !important;}
    .login-main-wrapper h2.fs-48 {font-size: 36px !important;line-height: 48px;}
    .login-page-new header {padding-right: 24px !important;padding-left: 24px !important;}
    .addons-feature-single {padding: 0 15px;}
    .addons-feature-single .h-wrapper img {max-width: 48px;border-radius: 6px;}
    .connect-wrapper .addons-feature-single h3,.connect-wrapper .addons-feature-single .fs-22,.connect-wrapper .addons-feature-footer .btn-link {font-size: 20px !important;}
    .addons-feature-single .height-inner {padding: 25px !important;}
    .knowledgebase-wrap .collaboration-right {margin-left: -24px;}
    .contact-all-wrap .table-responsive {max-height: calc(100vh - 250px);}
    #smsPlanWrapper .slick-arrow{left:-45px;}
    #smsPlanWrapper .arrow-next{right:-45px;left: auto;}

}
@media(max-width:1440px){
    .menu-win-show .sidebar-window {min-width: 200px !important;}
    .open-sub-menu + .page {padding-left: 200px !important;}
    .side-menu-group h2 {padding: 12px 1.25rem 12px !important;font-size: 16px !important;}
    .fs-20 {font-size:18px !important;}
    .px-65,.company-wrapper,.collaboration-wrapper{padding: 0 14px;}
    .setting-acc .te-form-wrap {max-height: calc(100vh - 55px);}
    ul.nav-menu {margin-left: 0 !important;padding-left: 0 !important;}
    nav.side-navbar li.active a, nav.navbar {height: 55px;}          
    nav.side-navbar.shrink {width: 48px;}
    aside .side-menu-icon {min-width: 48px;}
    .header {width: calc(100vw - 48px);    min-width: calc(1280px - 48px);}
    nav.side-navbar .waiting-chat, .header .waiting-chat {font-size: 15px !important;}
    header .waiting-chat.fs-20{font-size: 18px !important;}
    main.page {padding-top: 55px !important;}
    nav.navbar a#users img {width: 28px;min-height: 28px;min-width: 28px;}
    .whc-all-wrapper {padding-top: 0 !important;}
    .whc-all-wrapper .kb-article-layout { padding-left: 24px !important;}
    #btnToggleUserStatus {width: 10px !important;height: 10px !important;left: 30px !important;}
    header nav.navbar #helps img {max-width: 9px;}
    header nav.navbar #notifications img {max-width: 20px;}
    header nav.navbar .nav-link > img {width: 20px;}
    .console-all-wrap {height: calc(100vh - 55px);}
    .chat-console-footer {padding: 5px 15px 15px !important;}
    .chat-window-part {height: calc(100vh - 54px);}
    nav.side-navbar.shrink .sidenav-header img {max-width: 36px;width: auto;height: auto;}
    nav.side-navbar.shrink i {font-size: 24px;}
    .bootstrap-select > .dropdown-toggle{min-height: 36px;}
    .contact-menu .fa {background-size: 30px auto;}
    .marketing-menu .fa {background-size: auto 20px;}
    .report-menu .fa.fa-comments-o {background-size: auto 90%;}
    .collaboration-wrapper,.collaboration-wrap {height: calc(100vh - 55px) !important;}
    .collaboration-wrapper .site-main-tabs {padding: 4px 0;}
    .collaboration-left-head .media-body p {font-size: 15px !important;}
    .collaboration-left-head .media img {max-width: 30px !important;}
    .collaboration-left-head a.fs-24 {font-size: 18px !important;}
    .collaboration-left-body .thread-section-list li a{padding: 2px 0 !important;font-size: 15px !important;}
    .coll-message-window {padding:8px 0 8px 8px !important;}
    li[data-trd-active] span:not(.single-collab-icon) img{top:2px;}
    .footer-action-wrapper {padding-left: 64px;}
    body.side-menu-open .footer-action-wrapper {padding: 10px 0 10px 284px;}
    .knowledgebase-table-wrap .collaboration-left {width: 225px;}
    .knowledgebase-wrap .collaboration-right {max-width: calc(100% - 215px);}
    .page.home-page .h-wrapper.text h1 {font-size: 18px;}
    /*#mCSB_1_container_wrapper p {font-size: 18px !important;}*/
    .kb-modal-right h1 {font-size: 32px !important;}
    .sms-email-chart-inner h2{font-size: 32px !important;}
    .single-features-detail p.fs-60 {font-size: 32px !important;}
    .design-wrapper .addons-feature-single {margin: 10px 0 !important;padding: 0 14px;}
    .design-wrapper .remove-branding-two-parts{position:relative; padding: 10px 0;}
    .design-wrapper #smsPlanWrapper {padding: 10px 15px;}
    .design-wrapper .subs-inner-wrp .price{font-size:28px;}
    .design-wrapper .remove-branding-two-parts {position: relative;	padding: 50px 0;}
    .design-wrapper .email-img {min-height: 1400px !important;}
    #Concierge.our-customer-section {padding: 10px !important; }
    .site-main-tabs .navbar-brand, .site-header {font-size: 20px !important;}
    aside .sm-link .sm-link-text {font-size: 14px !important;padding: 0.75rem 1.25rem !important;}
    #profile-fields .col-form-label {padding-top: 0;}
    .home-page .chat-layout-wrapper {height: auto;}
    .site-main-tabs .navbar-brand, .site-header {padding-top: 12px !important;}
    .home-page .collaboration-left-holder .console-head-row {padding-bottom: 8px !important;}
    .home-page .collaboration-left-holder .console-head-row + ul.list-unstyled{margin-top: 0 !important;}
    .home-page  .company-wrapper {max-height: 100%;}
    .home-page .chat-layout-wrapper .collaboration-left-holder {margin-right: 20px !important;padding-top: 0 !important;}

    .addons-wrapper .addons-feature-single .height-inner {padding: 30px 30px 25px !important;}
    .addon-page-main .addons-feature-single .h-wrapper img {max-width: 54px;}
    .site-main-tabs[id*='BV'] {margin: 10px 0 5px !important;}
    .home-page .collaboration-left-holder .console-head-row a.fs-20,.site-main-tabs .navbar-brand, .site-header{font-size: 18px !important;}
    .form-button-design .site-main-tabs {padding-top: 8px !important;}
    .site-main-tabs[id*='BV'] {margin: 0 !important;}
    .addons-feature-single .height-inner {padding: 18px !important;}
    form#formSignupHeader, .login-logo {padding: 10px 0;min-height: 120px;}

    .chat-layout-wrapper .collaboration-left-holder {min-height: calc(100vh - 110px);}
    .site-main-tabs.pt-3 {padding-top: 0.5rem !important;}
    .modal-title {font-size: 18px;}
    .modal-header {padding: 13px 1.5rem 12px 1.5rem !important;}
    .modal-body > .p-5,.te-form-wrap {padding: 1.5rem !important;}
    .modal-footer {padding: 1rem 1.5rem;}
    .modal[id*='info'] .modal-header, .modal[id*='delete'] .modal-header {padding: 15px 1.5rem 12px 1.5rem !important;}
    .modal-body {top: 55px;}
    .modal-header button.close .fa.fa-times {background-image: url(../images/times-white-icon.png);background-size: 65%;line-height: 30px;}
    .modal-header .close {width: 30px;height: 30px;}
    .theme-page-wrapper .console-head-row li.nav-item.custm-toggle-dd{top:-30px;}
    .theme-page-wrapper .console-head-row li.nav-item:first-child{top:-35px;}
    .setting-wrapper {height: calc(100vh - 55px);}
    .chat-detail-part  .j-custm-scroll {height: calc(100vh - 55px);}
    .setting-wrapper > .px-5{padding:0 15px !important;}
    .system-layout-wrapper aside + .flex-grow-1 {max-width: none; max-height: calc(100vh - 115px);overflow: auto;}
    .chat-console-head .fs-16 {font-size: 14px !important;}
    .coll-channel-name {font-size: 16px !important;max-width: 225px !important;}
    .collaboration-left-body li a span{font-size: 14px;}
    .console-two-section.open-conversation .j-custm-scroll,
    .console-two-section.incoming-conversation .j-custm-scroll{max-height: 160px !important;}
    .connect-wrapper .fs-40 {font-size: 26px !important;margin-bottom: 18px !important;}
    .connect-wrapper .fs-26 {font-size: 18px !important;}
    .setting-acc .modal-header + div{height:calc(100% - 56px);}
    .registration-page header .container-fluid {padding: 15px !important;    }
    .template-get-started-configure .footer-action-wrapper {padding-left: 110px;}
    .single-features-detail {margin: 0 -15px;}
    .single-features-detail .fs-64 {font-size: 48px !important;max-width: 900px;margin: 0 auto;}
    .single-features-detail .fs-26 {font-size: 22px !important;}    
    .container-fluid {padding: 0 16px 0 15px;}
    .integration-wrapper p.fs-36 {font-size: 24px !important;}
    .address-selection-wrapper .table-responsive{max-height: calc(100vh - 175px);}
    .playbook-email-wrap .table-responsive {max-height: calc(100vh - 235px);}
    .modal-dialog.mw-450 { max-width: 420px !important;}
    .modal-dialog.mw-875 {max-width: 820px !important;}
    .modal-dialog.mw-500 {max-width: 450px !important;}
    .modal-dialog.mw-560 {max-width: 500px !important;}
    .modal-dialog.mw-750 {max-width: 700px !important;}
    .modal[id*="addEditEmailModal"] .modal-dialog, 
    .modal[id*="addEditTicket"] .modal-dialog {max-width: 575px;}
    .kb-modal-right {max-width: 270px;padding-left: 0;}
    .modal-dialog.mw-600 {max-width: 540px !important;}
    #smsPlanWrapper .subs-inner-wrp .btn {font-size: 16px !important;}
    .email-transfer-wrap .table-responsive {max-height: calc(100vh - 190px);}
    .chat-window-iframe-wrap {height: calc(100vh - 120px);}
    .chat-design-window-wrap {padding-left: 2rem;padding-right: 0;}
    .terms-content-wrapper {height: calc(100vh - 165px);}
    .features-wrapper .j-custm-scroll{max-height: calc(100vh - 215px) !important;}
    .connect-wrapper .addons-feature-single .height-inner {padding: 12px 18px !important;}
    main.page > header + .container-fluid {height: calc(100vh - 55px);}
    .feedback-main-part .table-responsive {max-height: calc(100vh - 250px);}
    .routing-all-wrap > .table-responsive:nth-child(1) {max-height: calc(100vh - 194px);}
    .reg-feature-single .col-auto {padding-right: 0;}
    .appointments-wrapper .table-responsive {max-height: calc(100vh - 158px);}
    .link-item {width: 28px;height: 28px;line-height: 28px;}
    .link-item .lcs-icon {font-size: 14px !important;}
    .modal-dialog.mw-640 {max-width: 580px !important;}
    .connect-wrapper .get-started-row{ max-width: 1100px !important;}
    #addEditKBArticleModal .modal-dialog, #addEditSettScript .modal-dialog {max-width: 875px;}
    #viewScriptModal .modal-dialog {max-width: 750px !important;}
    .flex-wrap.addon-feature-wrapper {max-height: calc(100vh - 190px);}
    .email-signature-componets {margin-left: -30px;}
    #headerReminderModal .modal-dialog.mw-640 {max-width: 600px !important;}
    #headerReminderModal .py-5{padding: 1.5rem 0 !important}
    #headerReminderModal .chat-detail-inner{padding: 0 1.5rem !important}
    #headerReminderModal .nav-tabs {padding: 0 1.5rem 1rem !important;margin-bottom: 0 !important;}
    .appointments-wrapper .appointment-list-wrap .table-task-responsive {max-height: calc(100vh - 250px);}
    .appointments-wrapper .appointment-list-wrap .table-events-responsive {max-height: calc(100vh - 230px);}
    .ticket-wrapper .site-main-tabs .nav-link.right-link {padding: 5px 20px !important;max-height: 36px !important;}
    .btn-op-sub-menu span {margin-top: 5px;}
    .btn-op-sub-menu span:nth-child(1) {width: 13px;}
    .btn-op-sub-menu span:nth-child(2) {width: 20px;}
    .btn-op-sub-menu span:nth-child(3) {width: 26px;}
    .companies-wrapper .table-responsive {max-height: calc(100vh - 210px) !important;}
    .deals-wrapper .table-responsive {max-height: calc(100vh - 200px) !important;}
    .contact-wrapper .site-main-tabs .nav-link.right-link, .site-main-tabs .nav-link.with-search {padding: 5px 20px !important;max-height: 36px !important;}
    .mx-datepicker input {padding: 6px 10px;}
    .accod-fb-msggr-wrap + .col {padding-left: 1rem !important;}
    .playbook-messenger-wrapper .table-responsive {max-height: calc(100vh - 210px);}
    .modal[id*='delete'] .modal-body .p-5, 
    .modal[id*='info'] .modal-body .p-5, #removebrandmodal .modal-body .p-5 {padding: 1.5rem !important;}
    .chat-detail-inner .btn-accordion .card-header,
    .chat-detail-inner .btn-accordion .collapse,
    .chat-detail-inner .btn-accordion .collapsing {padding: 0px 18px;}
    #conSettingAcc.btn-accordion .card-header .card-link {font-size: 15px !important;padding: 10px 30px;}
}

@media(max-width:1440px),(max-height:799px){
    .home-page .site-main-tabs .navbar-brand, .site-header,.create-campaign-name input.form-control {font-size: 20px !important;}
    .site-main-tabs .navbar-brand, .site-header {padding-top: 0px !important;}
    nav.navbar a#users {padding-right: 0.5rem !important;}
    .design-wrapper #mCSB_1_container p.fs-60,
    .addon-detail-title,.sms-email-chart .fs-48{font-size: 36px !important;line-height: 48px !important;}
    .symbol .symbol-inner p {font-size: 20px;}
    #smsPlanWrapper .subs-inner-wrp h2 {font-size: 24px !important;}
    .single-features-detail .symbol h2.fs-42 {font-size: 30px !important;}
    .single-features-detail h2.fs-48 {font-size: 32px !important;line-height: 42px !important;}
    .single-features-detail .custm-scroll {max-height: calc(100vh - 130px) !important;height: 100vh !important;}
    #myaddonLogTable .table-responsive {max-height: calc(100vh - 225px);}
    #myaddon_invoices .table-responsive {max-height: calc(100vh - 210px);}
    .modal-body > .px-5{padding-left: 1.5rem !important;padding-right: 1.5rem !important;}
    #smsPlanWrapper .col-3{padding:50px 10px;}
    .flex-wrap.addon-feature-wrapper {padding-right: 0.5rem;}
    .mw-1280.sms-plan-main-wrap {max-width: 1200px !important;}
    .report-wrap {margin-top: 0 !important;height: calc(100vh - 180px);}
    .widget-report-single-inn {padding: 0.5rem !important;}
    .widget-report-single-head {padding: 10px 4px 0;}
    .widget-report-single-body {padding: 0px 4px 10px;margin-top: 14px;min-height: 175px;}
    .widget-report-single-footer {padding: 8px 4px 10px 0;}
    .widget-report-single {padding: 15px 0 15px 8px !important;}
    .widget-report-single:nth-child(2n + 1) {padding-right: 8px !important;}
    .widget-report-single:nth-child(2n) {padding-left: 8px !important;}
    .trend-alert-wrapper .table-responsive {max-height: calc(100vh - 225px);}
    .site-main-tabs {margin: 6px 0 10px;}
    .report-list {height: calc(100vh - 135px);padding-top: 0 !important;}
    .wrsi-right .fs-16, .wrsi-left .fs-16 {font-size: 14px !important;}
    .wrsi-icon {padding-right: 10px !important;}
    .wrsi-right ul.list-inline {font-size: 13px !important;}
    .wrsi-right ul li span {min-width: 30px;}
    .collaboration-wrapper,.collaboration-wrap {height: calc(100vh - 55px) !important;}
    .collab-msgs-tools .p-5{padding: 1.5rem !important;}
    .coll-cart-title {font-size: 14px !important;}
    .inline-search-wrap input {font-size: 15px;padding: 2px 20px 2px 8px;min-width: 220px;}
    .inline-search-wrap .clear-inline-search { right: 6px;}
    .list-inline-search-actions .px-3 {padding-left: 0.75rem !important;padding-right: 0.75rem !important;}
    .collaboration-left {width: 265px;}
    .collaboration-right {max-width: calc(100% - 265px);}
    .list-inline-search-actions .mr-3 {margin-right: 0.75rem !important;}
    .conv-web-result {margin: 15px 0 0 0;}
    .collaborating-wrap {padding-left: 0 !important;padding-right: 0 !important;}
    .collaborating-wrap .collaborating-inner {min-width: 250px !important;}
    .coll-msg-header{padding-top: 0.75rem !important;padding-bottom: 0.75rem !important;}
    .bots-table-wrapper .table-responsive {max-height: calc(100vh - 240px);}
    .create-bot-setting-wrap {height: calc(100vh - 112px);}
    #createBotSettAccordion {width: 380px;margin-right: 0.5rem !important;}
    .create-bot-setting-wrap > div,.bot-categories-wrap {max-height: calc(100vh - 170px);}
    .bot-sample-window-wrapper {max-height: calc(100vh - 115px);margin-top: -55px;}
    .bot-categories-wrap > .row {padding-right: 0 !important;}
    .bot-categories-wrap .addons-feature-single {padding: 0 0.75rem !important;}
    .conv-left-view .filter-option {max-width: 70px;}
    #myAddonMessagingModal .btn-sms-plan-cart {right: 25px;top: 25px;}
    .accordion-code-wrap {max-height: calc(100vh - 410px);overflow: auto;}
    .chat-window-part {height: calc(100vh - 54px);}    
    .modal[id*='addEditEmailModal'] .quillWrapper + .email-extra-button {right: 20px;}
    .trigger-right .table-responsive {max-height: calc(100vh - 200px);}
    form.edit-trigger-form {max-height: calc(100vh - 150px);}
    .setting-acc .te-form-wrap { max-height: calc(100vh - 60px);}
    #centerTriggerModalWrapperModal #centerTriggerModalWrapper > div{transform: scale(.75);margin-top: -5vw;}
    #centerTriggerModalWrapperModal .modal-dialog.modal-middle .modal-body {max-height: calc(100vh - 60px);}
    .modal-body {bottom: 60px;}
    .modal-dialog.modal-middle .modal-body {max-height: calc(100vh - 185px);}
    #addEditEmailModal4 .modal-dialog.modal-middle .modal-content {max-height: calc(100vh - 79px);}
    .console-main-right .connect-wrapper {margin-top: 0 !important;}
    .table-bots th:nth-child(11), .table-bots td:nth-child(11) {min-width: 110px; max-width: 110px;}
    .bots-table-wrapper .site-main-tabs {margin: 14px 0 8px;}
    .collaboration-left-head .media-body p {max-width: 100px;}
    #btnToggleUserStatus {width: 10px;height: 10px;bottom: 2px;left: 28px;}
    .console-head-row .site-main-tabs li a.navbar-title {max-width: 170px;font-size: 18px !important;}
    .register-main-left .col-auto + .col-auto.col-form-label {padding-left: 0;}
    .addons-feature-footer .btn-link {font-size: 18px !important;}
    .best-value{font-size: 18px;}
    #conSettingAcc.btn-accordion .card-header .arrow {right: 18px;}
    #consoleSetts.slide-content-toggle-dd .card-body.pr-4 {padding-right: 0.5rem !important;}
    .ctg-input .form-control {font-size: 15px !important;}
    .btn-zoom-in-out-group {top: 70px;left: 510px;}
    .contact-all-wrap .table-responsive {max-height: calc(100vh - 215px);}
    .two-factor-wrap {height: calc(100vh - 180px);}
    .calender-step-active .google-calendar-acc-wrap {max-height: calc(100vh - 285px);overflow: auto;}
    #videoRecorder span {width: 12px;height: 12px;}
    #videoRecorder span:after {width: 22px;height: 22px;}
    .nav-menu .nav-item .fa.fa-video-camera {font-size: 24px !important;}
    .contact-all-wrap .bootstrap-select.btn-group .dropdown-toggle .filter-option {max-width: 52px;}
    .deals-wrapper .bootstrap-select.btn-group .dropdown-toggle .filter-option {max-width: 65px;}
    li.list-inline-item.fltr-active {margin-right: 1rem;}
}    
@media(max-width:1359px){
    .kb-page-wrapper .container {max-width: 820px !important;}
    .kb-page-wrapper .knowledge-input-search {min-width: 0; max-width: 100% !important;}
    .kb-page-wrapper .kb-article-body .container {max-width: 900px !important;}
    .kb-page-wrapper .kb-article-body .kb-article-wrap:not(.kb-srticle-search) {max-width: calc(33.333% - 40px);margin: 30px 20px 0px;}
    .kb-page-wrapper .kb-article-body .kb-article-wrap {max-width: 820px;}
    .kb-page-wrapper .kb-srticle-search {padding: 40px 85px;}
    .kb-page-wrapper .knowledgebasefirstpage .kb-single-wrap {padding: 50px 90px;max-width: 820px;}
    .kb-page-wrapper .kb-bg-header {background-size: auto 125% !important;}
    .mw-1280.sms-plan-main-wrap {max-width: 1200px !important;}
    .row-ad-metrics.mw-1200 {max-width: 1140px !important;}
    .connect-wrapper .chat-code-image.mw-1000 {max-width: 895px;}
}
@media(max-width:1280px){
    .page.home-page .addon-page-main {padding: 10px 15px !important;}
    .addons-feature-single h1 {font-size: 18px;}
    .modal-dialog.mw-800{max-width: 720px !important;}
    .show-edit-tools .btn-group button {font-size: 15px !important;min-width: 42px;}
    #consoleSetts.slide-content-toggle-dd{min-width: 315px;}
    .mw-1280.sms-plan-main-wrap {max-width: 1120px !important;}   
    .wrsi-right ul.list-inline {font-size: 12.5px !important;letter-spacing: -0.25px;}
    .page.home-page .h-wrapper.text h1 {font-size: 17px;}
}
@media(max-width:1279px){
    .login-wrap-left {flex: 0 0 100%;max-width: 100%;}
    .login-wrap-left .for-mobile,.mb-register-show .mb-register{display: block !important;}
    .login-wrap-right,.mb-register-show .mb-login,.register-main-right{display: none;}
    .seperator{line-height: 1;}
    form#formAppLogin ,form#formSignupHeader1 { max-width: 400px; margin: 0 auto;}
    .register-main-left {max-width: none !important;}
    .header {position: sticky !important;}
    #app main.page {padding-top: 0px !important;}
    .menu-win-show + .page header.header.pos-rel {margin-left: 0;}
    .open-sub-menu + .page header.header.pos-rel { margin-left: -200px;}
    .bswr_chrome .footer-action-wrapper{bottom:10px;}
    .bswr_firefox .footer-action-wrapper{bottom:16px;}
    body.side-menu-open .footer-action-wrapper {padding: 10px 0 10px 260px;}
    #app-layout.auth-layout div#google_translate_element {position: fixed;top: 15px;right: 15px;width: 180px;background-color: transparent;z-index: 99999;}
}
@media(max-width:991px){
    .kb-page-wrapper .kb-article-body.p-5.knowledgebasefirstpage {padding: 0 !important;}
    .kb-page-wrapper .kb-article-body .container {max-width: 720px !important;margin: 0 auto !important;padding: 0 0 30px !important;}
    .kb-page-wrapper .kb-article-body .kb-article-wrap:not(.kb-srticle-search) {max-width: calc(50% - 20px);margin: 30px 0 0px;}
    .kb-page-wrapper .kb-article-body .kb-article-wrap:nth-of-type(2n + 1) {margin-left: 40px;}
    .kb-page-wrapper .kb-article-body .kb-article-wrap.artlist {margin-left: 0;padding: 30px 40px;}
    .kb-page-wrapper .knowledgebasefirstpage .kb-single-wrap {padding: 30px 40px;    margin-bottom: 30px;}
    .kb-page-wrapper .kb-article-body .kb-article-wrap + .kb-article-wrap {margin: 30px auto 0;}
    .kb-page-wrapper .kb-cat-header-title {padding: 0 0;}
    .kb-page-wrapper .kb-article-body .row.search-key,
    .kb-page-wrapper .kb-article-body .row.search-key p { margin-left: 0 !important;}
    .kb-page-wrapper .kb-article-body .kb-article-wrap:not(.kb-srticle-search):nth-of-type(2n + 1) {margin-left: 40px;}
    .kb-page-wrapper .kb-bg-header {background-size: auto 110% !important;}
}


@media(max-height:799px){
    .menu-win-show .sidebar-window {min-width: 220px !important;}
    .open-sub-menu + .page {padding-left: 220px !important;}
    .side-menu-group h2 {padding: 12px 1.25rem 12px !important;font-size: 16px !important;}
    aside .sm-link .sm-link-text {font-size: 14px !important;padding: 0.75rem 1.25rem !important;}
    aside .dropdown-menu .dropdown-menu .sm-link .sm-link-text {padding: 14px 2.25rem !important;}
    #side-main-menu li.mb-5 {margin-bottom: 8px !important;}
    header .waiting-chat.fs-20 {font-size: 18px !important;}
    main.page {padding-top: 55px !important;}
    nav.side-navbar .waiting-chat, .header .waiting-chat {font-size: 15px !important;}
    ul.nav-menu {margin-left: 0 !important;padding-left: 0 !important;}
    header nav.navbar .nav-link > img {width: 20px;}
    nav.navbar a#users img {width: 28px;min-height: 28px;min-width: 28px;}
    .whc-all-wrapper {padding-top: 0 !important;}
    header nav.navbar #helps img {max-width: 9px;}
    .px-65, .company-wrapper, .collaboration-wrapper {padding: 0 14px;}
    nav.side-navbar.shrink a {padding: 12px 0;}
    nav.side-navbar .sidenav-header {padding: 18px 5px 19px;}
    .sidebar-window {padding: 70px 0px 20px;}
    .btn:not(.card-link) {padding: 0px 20px;font-size: 14px;min-height: 36px;}
    .ticket-email-action .dropdown-toggle {min-height: 0;}
    .modal-body > .p-5,.te-form-wrap {padding: 1.5rem !important;}
    .modal-footer {padding: 10px 1.5rem;}
    .modal[id*='info'] .modal-header, .modal[id*='delete'] .modal-header {padding: 15px 1.5rem 12px 1.5rem !important;}
    .modal[id*='delete'] .modal-body .p-5, #removebrandmodal .modal-body .p-5 {padding: 20px 1.5rem 25px !important;}
    .modal-header {padding: 13px 1.5rem 12px 1.5rem !important;}
    .table th, .table td{padding: 0.65rem;}
    .theme-table-wrapper .j-custm-scroll{max-height: calc(100vh - 180px);}
    .console-two-section.open-conversation .j-custm-scroll,
    .console-two-section.incoming-conversation .j-custm-scroll{max-height:142px !important;}
    .whc-all-wrapper .kb-article-layout { padding-left: 24px !important;}
    .visitor-details p.fs-12 {font-size: 12px !important;}
    .visitor-action .fs-22 {font-size: 18px !important;}
    .visitor-action .fs-18 {font-size: 15px !important;}
    .visitor-action .fs-13 {font-size: 11px !important;}
    img.icon-messenger {max-width: 15px;}
    .visitor-details p {font-size: 14px !important;line-height: 1 !important;}
    .console-visitor-row .visitor {width: 30px;height: 30px;line-height: 30px;font-size: 12px;}
    .console-main-left,.all-conversation-dd > .dropdown > .dropdown-menu{width: 315px;}
    .visitor-action .fa + span{min-width: 20px;}
    .visitor-details{min-width: 110px;}
    .console-two-section button.fs-14 {font-size: 12px !important;}
    .console-main-left .b-dropdown.btn-group .dropdown-toggle {font-size: 12px !important;}
    .visitor-card-name {width: 40px;height: 40px;line-height: 40px;font-size: 16px !important;}
    #users + ul.dropdown-menu li.py-4 {padding: 14px 3rem !important;}
    #users + ul.dropdown-menu li a img {width: 15px;}
    #users + ul.dropdown-menu li a.py-3 {padding: 8px 3rem !important;}          
    .nav-menu .nav-item .fa {font-size: 20px;}
    #helpsSett .btn-accordion .card-body {max-height: 340px;overflow: auto;}
    .login-main-wrapper .login-wrap-left .login-part-content > .mb-5, 
    .login-main-wrapper .login-wrap-right .mb-5 {margin-bottom: 14px !important;}
    .login-page-new header {padding-top: 24px !important;padding-bottom: 24px !important;}
    .chat-single-row  .visitor-card-name {width: 32px;height: 32px;line-height: 32px;font-size: 14px !important;}
    .chat-single-row-head img {max-width: 32px;}
    .row-timestamp{font-size: 11px;margin-left: 4px;}
    .chat-single-row .fs-16 {font-size: 14px !important;}
    .visitor-row,.agent-row{line-height: 1;}
    .routing-all-wrap .table-responsive,
    .script-wrapper .table-responsive ,
    .company-wrapper .table-responsive,
    .banned-wrapper .table-responsive{max-height: calc(100vh - 180px);}
    .invitee-main-wrapper .table-responsive{max-height: calc(100vh - 235px);}
    .shortcut-wrapper .table-responsive {max-height: calc(100vh - 190px);}
    .knowledgebase-article-table {max-height: calc(100vh - 260px) !important;}
    .list-article-cat .j-custm-scroll {max-height: calc(100vh - 250px) !important;}
    .role-permission-main{max-height: calc(100vh - 230px);}
    .console-visitor-row{max-width: 237px;}
    .connect-wrapper .addons-feature-single ul.px-5 {padding: 0 1.5rem !important;width: auto;max-height: 240px;overflow: auto;}
    .registration-page .register-main-content {margin-top: 25px;}
    .regis-step-title {font-size: 36px;}
    .regis-step-sub-text{font-size: 16px;}
    #formAppLogin .btn,form#formSignupHeader1 .btn,.form-app-default .btn {padding-top: 8px !important;padding-bottom: 8px !important;}
    .btn-sign-w-google img{max-height: 45px !important;}
    #formAppLogin .btn .lh-1-75 {line-height: 1.25 !important;margin-top: 0 !important;margin-bottom: 0 !important;}
    #formAppLogin .btn img {max-height: 16px !important;}
    #formAppLogin input,.form-app-default input {border: 1px solid #111;line-height: 24px;}
    .registration-page header {padding: 0 !important;}
    .register-main-content .fs-48 {padding: 0 !important;font-size: 32px !important;}
    .register-main-content .border-bottom.fs-48 {padding-bottom: 1rem !important;}
    #formAppLogin label {line-height: 1;}
    .register-main-left {max-width: 480px;}
    .register-main-right {max-width: calc(100% - 520px);align-self: center;}
    .register-main-right video {max-height: calc(100vh - 125px);}
    .register-main-left .col-form-label {line-height: 1;}
    .rig-logo img {max-height: 42px;}
    .registration-page .register-main-content, .register-main-right img {max-height: calc(100vh - 100px);}
    .whc-all-wrapper .whc-form-wrap {max-height: calc(100vh - 200px);}
    #profile-fields {    max-height: calc(100vh - 170px);overflow: auto;}
    .form-control, .mx-input {padding: 5px 10px;}
    .chat-detail-inner .form-control{line-height: 27px !important;}
    #formSignupHeader .btn {min-height: 36px;}
    .site-main-tabs .nav-link.with-search {padding: 5px 20px !important;}
    .my-addon-wrapper .table-responsive {max-height: calc(100vh - 160px);max-height: calc(100vh - 130px);}
    .addons-wrapper .addons-feature-single .height-inner {padding: 24px 24px 20px !important;font-size: 13px;letter-spacing: -0.5px;}
    .table-suggestion-main-wrapper{max-height: calc(100vh - 225px);}    
    .template-suggestion-box .collaboration-left-body .j-custm-scroll ,
    .template-feedback .collaboration-left-body .j-custm-scroll ,
    .template-customer-feedback-forum .collaboration-left-body .j-custm-scroll {max-height: calc(100vh - 245px) !important;}
    #googleCalendarAcc #google-calendar-collapseTwo .card-body {max-height: calc(100vh - 325px);overflow: auto;}
    #addEditSegmentModal .table-responsive {max-height: calc(100vh - 200px);}
    .create-sms-playbook-left .j-custm-scroll{height: calc(100vh - 200px);}
    .playbook-sms-table-wrap .table-responsive, .playbook-email-table-wrap .table-responsive {max-height: calc(100vh - 240px);}
    .list-dd-fixed-holder .list-dd-fixed{max-height: 240px;overflow: auto;}
    .show-edit-tools .btn-group button {font-size: 15px !important;min-width: 42px;}
    span.h-notify-count {width: 17px;height: 17px;font-size: 10px;line-height: 17px;border-radius: 50%;position: absolute;right: 0;top: 0;color: #fff;text-align: center;}
    nav.navbar #users + .dropdown-menu {margin-top: 3px;}
    .modal-dialog.mw-560 {max-width: 500px !important;}
    #smsPlanWrapper .col-3 {padding: 50px 10px;}
    #smsPlanWrapper .subs-inner-wrp .btn {font-size: 15px !important;min-width: 100%;}
    .email-transfer-wrap .table-responsive {max-height: calc(100vh - 180px);}
    td .bootstrap-select.btn-group.show div.dropdown-menu, 
    .notification-sett-row .bootstrap-select.btn-group.show div.dropdown-menu {transform: translate3d(0,34px,0) !important;}
    .login-part-content {margin-top: 15px;}
    .routing-all-wrap > .table-responsive:nth-child(1) {max-height: calc(100vh - 194px);}
    #formAppLogin .form-group.mb-4 {margin-bottom: 1rem !important;}
    .reg-feature-single .col-auto {padding-right: 0;}
    .appointments-wrapper .table-responsive {max-height: calc(100vh - 158px);}
    .modal-dialog.mw-640 {max-width: 580px !important;    }
    #addEditKBArticleModal .modal-dialog, #addEditSettScript .modal-dialog {max-width: 875px;}
    #viewScriptModal .modal-dialog {max-width: 750px !important;}
    nav.side-navbar li.active a, nav.navbar {height: 55px;}
    main.page > header + .container-fluid {height: calc(100vh - 55px);}
    .flex-wrap.addon-feature-wrapper {max-height: calc(100vh - 160px);}
    .integration-holder {max-height: calc(100vh - 230px);}
    .modal-title {font-size: 18px;}
    .footer-action-wrapper {padding-left: 64px;}
    .code-website-wrapper .table-responsive {max-height: 173px;}
    #headerReminderModal .modal-dialog.mw-640 {max-width: 600px !important;}
    #headerReminderModal .py-5{padding: 1.5rem 0 !important}
    #headerReminderModal .chat-detail-inner{padding: 0 1.5rem !important}
    #headerReminderModal .nav-tabs {padding: 0 1.5rem 1rem !important;margin-bottom: 0 !important;}
    .appointments-wrapper .appointment-list-wrap .table-task-responsive {max-height: calc(100vh - 250px);}
    .appointments-wrapper .appointment-list-wrap .table-events-responsive {max-height: calc(100vh - 230px);}
    .ticket-wrapper .site-main-tabs .nav-link.right-link {padding: 5px 20px !important;max-height: 36px !important;}
    .modal-header .close { width: 30px;height: 30px;}
    .btn-op-sub-menu span {margin-top: 5px;}
    .btn-op-sub-menu span:nth-child(1) {width: 13px;}
    .btn-op-sub-menu span:nth-child(2) {width: 20px;}
    .btn-op-sub-menu span:nth-child(3) {width: 26px;}
    .companies-wrapper .table-responsive {max-height: calc(100vh - 210px) !important;}
    .deals-wrapper .table-responsive {max-height: calc(100vh - 200px) !important;}
    .contact-wrapper .site-main-tabs .nav-link.right-link, .site-main-tabs .nav-link.with-search {padding: 5px 20px !important;max-height: 36px !important;}
    .modal-header button.close .fa.fa-times {background-image: url(../images/times-white-icon.png);background-size: 63%;line-height: 30px;}
    .mx-datepicker input {padding: 6px 10px;}
    .accod-fb-msggr-wrap + .col {padding-left: 1rem !important;}
    .playbook-messenger-wrapper .table-responsive {max-height: calc(100vh - 210px);}
    .console-all-wrap {height: calc(100vh - 55px);}
    .modal[id*='delete'] .modal-body .p-5, 
    .modal[id*='info'] .modal-body .p-5, #removebrandmodal .modal-body .p-5 {padding: 1.5rem !important;}
    .chat-detail-inner .btn-accordion .card-header,
    .chat-detail-inner .btn-accordion .collapse,
    .chat-detail-inner .btn-accordion .collapsing {padding: 0px 18px;}
    #conSettingAcc.btn-accordion .card-header .card-link {font-size: 15px !important;padding: 10px 30px;}
    .bot-sample-window-wrapper > div{transform: scale(0.85);margin: -50px 0 0;}
    .chat-single-row-head {min-width: 32px;text-align: left !important;display: flex;}
    .chat-single-row-head .row-timestamp {min-width: 50px;}
    #consoleSetts.slide-content-toggle-dd div#conSettingAcc {line-height: 1.6;}
}
@media(max-width:767px){
    .kb-page-wrapper .container {max-width: 540px !important;width: calc(100% - 30px);}
    .kb-page-wrapper .kb-cat-header-title {font-size: 24px;}
    .kb-page-wrapper .kb-article-body .kb-article-wrap:not(.kb-srticle-search):nth-of-type(2n + 1) {margin-left: 24px;max-width: calc(50% - 12px);}
    .kb-page-wrapper .article-header {padding: 24px;}
    .kb-page-wrapper .kb-srticle-search .article-header {padding: 0 0 10px;}
    .kb-page-wrapper .kb-article-body .container { max-width: 540px !important;}
    .kb-page-wrapper .kb-article-logo li.list-item {font-size: 24px !important;}
    .kb-page-wrapper .kb-article-head.py-5 {padding: 20px 0 !important;}
    .kb-page-wrapper .kb-bg-header {background-size: auto 100% !important;}
    .register-main-content .fs-48 {padding: 0 !important;font-size: 26px !important;}
    .login-wrap-left {padding: 0 1rem !important;}
    .login-main-wrapper h2.fs-48 { font-size: 30px !important;line-height: 48px;}
    .text-acc-agrmnt {padding-left: 0;}
    .reg-feature-single {min-width: 100%;}
    .regis-step-title { font-size: 24px !important;}
    .register-main-left {padding: 0;}
    .register-main-content {max-height: none !important;}
    .registration-page {flex-direction: column;max-height: 100vh;overflow: auto;}
    .reset-content-section {padding: 20px 15px 30px;}
    body.link-visitor-wrap {padding: 40px 0;}
    .link-visitor-wrap .visitor-schedule-wrapper {height: auto !important;margin: 10px auto;max-width: 450px !important;}
    .visitor-schedule--right {min-height: 0;padding-bottom: 2rem !important;}
    .visitor-schedule--right .list-slots { margin: 0 !important;}
}
@media(max-height:720px){
    .regis-step-title {font-size: 32px;}
    .regis-step-sub-text{font-size: 15px;}
    /*.login-main-wrapper{margin-top: 8px !important;}*/
    .login-main-wrapper h2.fs-48 {font-size: 28px !important;line-height: 36px;}
    .addons-feature-single {margin: 24px 0 0;}
    .routing-all-wrap > .table-responsive:nth-child(1) {max-height: calc(100vh - 189px);}
    /*    .routing-all-wrap .table-responsive, 
        .script-wrapper .table-responsive, 
        .chat-scheduling-wrapper .table-responsive, 
        .company-wrapper .table-responsive, 
        .banned-wrapper .table-responsive {max-height: calc(100vh - 210px);}*/
    #helpsSett .btn-accordion .card-body {max-height: 250px;}
    .contact-table .j-custm-scroll1 {max-height: calc(100vh - 210px);}
    #contactDetailTracking .j-custm-scroll{height: calc(100vh - 485px);}
    #visitor-archive-more-sett-collapseTwo .custm-scroll{max-height: 310px !important;}
    .addons-feature-single .inner-section p.mt-4,.addons-feature-single .inner-section p.mt-3 {margin-top: 8px !important;}
    .addons-feature-single {margin: 30px 0 0;}
    .register-main-left .mb-4.fs-18 {margin-bottom: 12px !important;font-size: 14px !important;}
    .register-main-left .mt-4 {margin-top: 14px !important;}
    .connect-wrapper .addons-feature-single ul.px-5 {max-height: 200px;}
    .pp-right {margin-top: 0 !important;}
    .appointments-wrapper .appointment-list-wrap .table-responsive {max-height: calc(100vh - 160px);}
    #googleCalendarAcc #google-calendar-collapseTwo .card-body {max-height: calc(100vh - 250px);overflow: auto;}
    form#formAppLogin ,
    form#formSignupHeader1 {max-width: 400px;margin: 0 auto;}
    form#formSignupHeader, .login-logo {min-height: 85px;}
    .login-part-content {margin-top: 0;}
    .integration-holder {max-height: calc(100vh - 230px);}
    .center-box-wrap{margin-top:0 !important;}
    .appointments-wrapper .appointment-list-wrap .table-task-responsive {max-height: calc(100vh - 240px);}
    .appointments-wrapper .appointment-list-wrap .table-events-responsive {max-height: calc(100vh - 210px);}
    div#btn-accordion-oq {max-height: calc(100vh - 230px);}
    .form-button-design .site-main-tabs {margin-top: 0px !important;}
    .chat-window-iframe-wrap iframe{transform: scale(0.8)  !important;margin-top: -60px  !important;margin-bottom: -70px;}
    .console-main-right .connect-wrapper {margin-left: 1rem !important;padding-top: 1.75rem !important;max-height: calc(100vh - 55px);overflow: auto;}
    .bot-sample-window-wrapper > div{transform: scale(0.8);margin: -65px 0 0;}
    #usersSett li.py-4 {padding-top: 1rem !important;padding-bottom: 1rem !important;}
    #usersSett .dropdown-menu a:not(.goog-te-menu-value){padding-top: 0.85rem !important;padding-bottom: 0.85rem !important;}
    .visitor-schedule-wrapper .veb-box-head,.visitor-schedule-wrapper .veb-box-footer {padding-top: 1.5rem !important;padding-bottom: 1.5rem !important;} 
}
@media(max-height:675px){
    .login-main-wrapper h2.fs-48 {font-size: 23px !important;line-height: 32px;}
    .addons-feature-single .inner-section p.mt-4,.addons-feature-single .inner-section p.mt-3 {margin-top: 7px !important;font-size: 13px;line-height: 18px;}
    .addons-feature-single .inner-section p {line-height: 20px;font-size: 13px;}
    .addons-feature-single {margin: 20px 0 0;}
    .visitor-schedule--left.bg-dark {padding: 10px !important;}
    .veb-box-head img {width: 48px !important;height: 48px !important;}
    .veb-box-head .fs-24 {font-size: 21px !important;margin-bottom: 8px !important;}
    .visitor-schedule-wrapper .veb-box-head,.visitor-schedule-wrapper .veb-box-footer {padding-top: 1.25rem !important;padding-bottom: 1.25rem !important;} 
    .veb-box-footer img{max-height: 28px !important;}
    .visitor-schedule--left .b-calendar .b-calendar-grid-body .col[data-date] .btn {width: 26px;height: 26px;font-size: 13px;padding: 7px 0;}
    .visitor-schedule--right .list-slots{max-height: 222px !important;}
    .setting-acc#usersSett .dropdown-menu {max-height: 520px;overflow-y: auto;overflow-x: hidden;}
}

@media(max-width:575px){
    .kb-page-wrapper .kb-article-body .container ,
    .kb-page-wrapper .container {max-width: 360px !important;width:calc(100% - 30px) !important;}
    .kb-page-wrapper .kb-article-body .kb-article-wrap:not(.kb-srticle-search):nth-of-type(2n + 1) {margin-left: 0;max-width: 100%;}
    .kb-page-wrapper .kb-article-body .kb-article-wrap:not(.kb-srticle-search) {max-width: 100%;}
    .kb-page-wrapper .kb-article-body .kb-article-wrap.artlist {margin-left: 0;    padding: 16px 24px;}
    .kb-page-wrapper .kb-single-wrap .kb-article-ttl {font-size: 24px;}
    .kb-page-wrapper .knowledgebasefirstpage .kb-single-wrap {padding: 16px 24px;}
    .kb-page-wrapper .kb-article-logo li.list-item {font-size: 20px !important;}
    .kb-page-wrapper .kb-bg-header {background-size: 175% 100% !important;}
    .feedback-section .fs-20 {font-size: 16px !important;}
    .visitor-schedule--left.bg-dark .b-calendar-inner,.visitor-schedule--left.bg-dark .b-calendar{width: 100% !important;}
    .visitor-schedule--left.bg-dark {padding: 0 !important;max-width: 310px;margin: 0 auto;}
    .visitor-schedule-wrapper .veb-box-head {flex-direction: column;}
    .visitor-schedule-wrapper .veb-box-head img {margin-bottom: 15px;}
    .veb-box-footer img {max-height: 26px !important;}
    .visitor-schedule--right {max-width: 310px;margin: 0 auto;}
}
@media(max-width:359px){
    .kb-page-wrapper .kb-bg-header {background-size: 200% 100% !important;}
    .mob-get-started-wrapper img.mw-250{max-width:220px;}
    .register-main-content > .row {width: auto;}
    .feedback-section .fs-20 {font-size: 16px !important;}
    .fb-footer-section img {max-height: 25px;}
    .link-visitor-wrap .container-fluid {padding: 0 5px;}
}

